<div class="admin-collapse">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mortgagePeriodCollapseAdmin" aria-expanded="false">
        Сроки ИК
    </button>

    <!-- Mortgage Period Collapse -->
    <div class="d-flex col-10 mx-auto">
        <div class="collapse admin-collapse__show mx-auto" id="mortgagePeriodCollapseAdmin">
            <div class="card card-body">
                <!-- Button Mortgage Period modal -->
                <div>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addMortgagePeriodModal">
                        Добавить
                    </button>
                </div>

                <!-- Add Mortgage Period Modal -->
                <div class="modal fade" id="addMortgagePeriodModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 900px">
                        <form class="form-control" action="/admin-panel/mortgage-periods" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Добавить срок ИК</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex flex-column">
                                    <label class="form-label mt-3">
                                        <span>От:</span>
                                        <input type="number" min="0" class="form-control" name="valueFrom" required>
                                    </label>
                                    <label class="form-label mt-3">
                                        <span>До:</span>
                                        <input type="number" min="0" class="form-control" name="valueTo" required>
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button class="btn btn-success">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- ALL Mortgage Periods TABLE -->
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">От</th>
                        <th scope="col">До</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="mortgagePeriod : ${mortgagePeriods}">
                        <td th:text="${mortgagePeriod.getId()}"></td>
                        <td th:text="${mortgagePeriod.getValueFrom()}"></td>
                        <td th:text="${mortgagePeriod.getValueTo()}"></td>
                        <td>
                            <form th:action="'/admin-panel/mortgage-periods/' + ${mortgagePeriod.getId()}" method="post">
                                <button class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>